/* videoChatPageStyles.css */

.video-chat-container {
  display: flex;
  height: 90vh;
}

.left-column,
.right-column {
  width: 50%; /* Both columns take up half the width */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.local-video {
  width: 100%;
  border-radius: 15px;
  height: 100%;
  background-color: black;
}

.remote-video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: black;
}

.chat-column {
  /* background-color: lightgrey; */
  font-weight: bold;
}
